In [1]:
import requests
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup

In [2]:
link = 'https://quotes.toscrape.com/'

In [3]:
for page in range(2,11):
    print('https://quotes.toscrape.com/page/' + str(page))

https://quotes.toscrape.com/page/2
https://quotes.toscrape.com/page/3
https://quotes.toscrape.com/page/4
https://quotes.toscrape.com/page/5
https://quotes.toscrape.com/page/6
https://quotes.toscrape.com/page/7
https://quotes.toscrape.com/page/8
https://quotes.toscrape.com/page/9
https://quotes.toscrape.com/page/10

In [5]:
data = []

for page in tqdm(range(1,11)):
    link  = 'https://quotes.toscrape.com/page/' + str(page)
    res   = requests.get(link)
    soup  = BeautifulSoup(res.text, 'html.parser')
    
    for sp in soup.find_all('div', class_ = 'quote'):
        
        quotes = sp.find('span', class_ = 'text').text[1:-1]
        author = sp.find('small', class_ = 'author').text
        author_id = sp.find('a').get('href')
        
        tags = []
        for tag in sp.find_all('a', class_ = 'tag'):
            tags.append(tag.text)
        
        tags = ','.join(tags)
        data.append([quotes, author, author_id, tags])

100%|██████████| 10/10 [00:22<00:00,  2.28s/it]

In [6]:
len(data)

100

In [7]:
df = pd.DataFrame(data, columns = ['Quotes','Author', 'Author_Id', 'Tags'])

In [8]:
df.head()

,Quotes,Author,Author_Id,Tags
0,The world as we have created it is a process o...,Albert Einstein,/author/Albert-Einstein,"change,deep-thoughts,thinking,world"
1,"It is our choices, Harry, that show what we tr...",J.K. Rowling,/author/J-K-Rowling,"abilities,choices"
2,There are only two ways to live your life. One...,Albert Einstein,/author/Albert-Einstein,"inspirational,life,live,miracle,miracles"
3,"The person, be it gentleman or lady, who has n...",Jane Austen,/author/Jane-Austen,"aliteracy,books,classic,humor"
4,"Imperfection is beauty, madness is genius and ...",Marilyn Monroe,/author/Marilyn-Monroe,"be-yourself,inspirational"

In [9]:
df['Author_Link']= 'https://quotes.toscrape.com' +df['Author_Id']

In [10]:
df.head()

,Quotes,Author,Author_Id,Tags,Author_Link
0,The world as we have created it is a process o...,Albert Einstein,/author/Albert-Einstein,"change,deep-thoughts,thinking,world",https://quotes.toscrape.com/author/Albert-Eins...
1,"It is our choices, Harry, that show what we tr...",J.K. Rowling,/author/J-K-Rowling,"abilities,choices",https://quotes.toscrape.com/author/J-K-Rowling
2,There are only two ways to live your life. One...,Albert Einstein,/author/Albert-Einstein,"inspirational,life,live,miracle,miracles",https://quotes.toscrape.com/author/Albert-Eins...
3,"The person, be it gentleman or lady, who has n...",Jane Austen,/author/Jane-Austen,"aliteracy,books,classic,humor",https://quotes.toscrape.com/author/Jane-Austen
4,"Imperfection is beauty, madness is genius and ...",Marilyn Monroe,/author/Marilyn-Monroe,"be-yourself,inspirational",https://quotes.toscrape.com/author/Marilyn-Monroe

In [12]:
df.to_csv('AllQuotes1.csv', index = False)